@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('https://fonts.googleapis.com/css?family=Dosis');
  @font-face {
    font-family: 'Besley';
    src: url('../fonts/Besley-Book.otf') format('opentype')
  }

  @font-face {
    font-family: Besley;
    font-weight: bold;
    src: url('../fonts/Besley-Bold.otf') format('opentype');
  }

  @font-face {
    font-family: Besley;
    font-style: italic;
    src: url('../fonts/Besley-BookItalic.otf') format('opentype');
  }

  * {
    @apply text-fg-base;
  }

  html, body, button, input, select, textarea {
    @apply text-fg-base;
    font-family: 'Dosis', sans-serif;
  }
  
  body {
    background: url('../img/record_bg2.png') no-repeat center center fixed;
    @apply bg-cover;
    @apply text-fg-base;
    @apply bg-black;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
  }

  a {
    @apply text-fg-lowlight;
    @apply no-underline;
  }
  a:hover {
    @apply font-bold;
  }
}