<template>
  <div class="absolute top-1/2 left-12">
    <div class="text-7xl">{{ splashPhrase }}</div>
    <div class="mt-2 ml-8 text-lg">
      <router-link to="/stacks">login</router-link>
      or
      <router-link class="text-alt-lowlight" to="/stacks">signup</router-link>
    </div>
  </div>
</template>

<script>
export default {
  created() {
    this.splashPhrase = this.catchPhrase();
  },
  data() {
    return {
      splashPhrase: '',
      phrases: [
        'a place to manage your stacks',
        'got vinyl?',
        'got black wax?',
        'drop the needle',
        'needle -> groove -> sounds',
      ],
    };
  },
  methods: {
    catchPhrase() {
      return this.phrases[Math.floor(Math.random() * this.phrases.length)];
    },
  },
};
</script>
