<template>
  <div class="p-4">
    <h2>{{ $t('General.myStacks') }}</h2>
    <stack v-for="(stack, idx) in stacks" :key="idx" :stack="stack"></stack>
  </div>
</template>

<script>
import StacksDAO from '../services/StacksDAO';
import Stack from '../components/Stack.vue';

export default {
  components: {
    Stack,
  },
  data() {
    return {
      stacks: [],
    };
  },
  async created() {
    console.log('created');
    try {
      let response = await StacksDAO.getAll();
      console.log(response);
      if (response.status === 200) {
        this.stacks = response.data;
        console.log(this.stacks);
      }
    } catch (e) {
      console.log(e);
    }
  },
};
</script>
