<template>
  <div class="paper m-6 w-1/4 min-h-1/4">
    {{stack.name}}
  </div>
</template>

<script>
export default {
  props: ['stack'],
  data() {
    return {};
  },
  mounted() {
    console.log(this.stack);
  }
};
</script>

<style scoped>
.paper {
  background: #000;
  box-shadow:
    /* The top layer shadow */ 0 -1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 -10px 0 -5px #333,
    /* The second layer shadow */ 0 -10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 -20px 0 -10px #333,
    /* The third layer shadow */ 0 -20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
  padding: 30px;
}
</style>
