<template>
  <div class="container">
    <!-- <stacks-header />
  <robot-message /> -->
    <!-- eventual sidebar? -->
    <!-- <div class="w-1/6">
  </div> -->
    <div class="w-5/6">
      <router-view />
    </div>
  </div>
</template>

